body {
    background-color: #f8f9fa;
}

.card {
    border-radius: 10px;
}

.card-body {
    padding: 2rem;
}

h4.card-title {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 14px;
}

a {
    text-decoration: none;
}
